{% extends 'student/base.html' %}
{% block title %}Student Attendence{% endblock %}

{% block content %}

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Attendence</span>
      </nav>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Attended Class</th>
            <th scope="col">Total Classes</th>
            <th scope="col">Attendence</th>
            <th scope="col">Classes To Attend</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <!-- todo: data fetch database -->
            <td>Mark</td>
            <td><a href="{% url 'student:attendence-details' %}">CS</a></td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td> 
          </tr>
        </tbody>
      </table>
    
</div>

{% endblock %}