{% extends 'student/base.html' %}
{% block title %}Student Attendence{% endblock %}

{% block content %}

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Course Name<!--:todo: self course--></span>
      </nav>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Day</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <!-- todo : fetch dta from database-->
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
           
            
          </tr>
        </tbody>
      </table>
    
</div>

{% endblock %}