{% extends 'student/base.html' %}
{% block title %}Student Marks{% endblock %}

{% block content %}
{% include 'student/navbar.html' %}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Marks</span>
      </nav>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Internal 1</th>
            <th scope="col">Internal 2</th>
            <th scope="col">Internal 3</th>
            <th scope="col">Event1</th>
            <th scope="col">Event2</th>
            <th scope="col">SEE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <!-- todo: data fetch database -->
            <td>Mark</td>
            <td><a href="{% url 'student:attendence-details' %}">CS</a></td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td> 
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    
</div>

{% endblock %}